<div class="control-row" [formGroup]="form.controls.passwords">
  <div class="control">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      name="password"
      autocomplete="new-password"
      formControlName="password"
    />

    @if (isPasswordInvalid) {
      <p class="control-error">Please enter a valid password.</p>
    }

    @if (isPasswordTooSmall) {
      <p class="control-error">- must be at least 6 characters long</p>
    }

    @if (doesPasswordLackUpperCaseCharacters) {
      <p class="control-error">- must have uppercase characters</p>
    }

    @if (doesPasswordLackLowerCaseCharacters) {
      <p class="control-error">- must have lowercase characters</p>
    }

    @if (doesPasswordLackNumberCharacters) {
      <p class="control-error">- must have number characters</p>
    }
  </div>

  <div class="control">
    <label for="confirm-password">Confirm Password</label>
    <input
      id="confirm-password"
      type="password"
      name="confirm-password"
      autocomplete="new-password"
      formControlName="passwordConfirmation"
    />

    @if (isPasswordConfirmationDifferentFromPassword) {
      <p class="control-error">The passwords do not match.</p>
    } @else if (isPasswordConfirmationInvalid) {
      <p class="control-error">Please enter a valid password confirmation.</p>
    }
  </div>
</div>
