<form #form="ngForm" (submit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        autocomplete="email"
        ngModel
        required
        email
        #email="ngModel"
      />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        autocomplete="current-password"
        ngModel
        required
        minlength="6"
        #password="ngModel"
      />
    </div>

    <button class="button">Login</button>
  </div>

  @if (isInputInvalid(email)) {
    <p class="control-error">Invalid email address entered.</p>
  }

  @if (isInputInvalid(password)) {
    <p class="control-error">Invalid password entered.</p>
  }

  @if (isFormInvalid(form)) {
    <p class="control-error">Invalid values detected. Please check your inputs</p>
  }
</form>
